<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>房源出租</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../statics/css/bootstrap.min.css">
    <link rel="stylesheet" href="../statics/css/font-awesome.min.css">
    <link rel="stylesheet" href="../statics/plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../statics/plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
    <link rel="stylesheet" href="../statics/css/main.css">
    <script src="../statics/libs/jquery.min.js"></script>
    <script src="../statics/plugins/layer/layer.js"></script>
    <script src="../statics/libs/bootstrap.min.js"></script>
    <script src="../statics/libs/vue.min.js"></script>
    <script src="../statics/plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../statics/plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../statics/plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../statics/js/common.js"></script>
    <!-- Bootstrap -->
    <link href="../statics/css/bootstrap.css" rel="stylesheet">

    <link rel="stylesheet" href="../statics/css//weui.css">
    <link rel="stylesheet" href="../statics/css//weui2.css">
    <link rel="stylesheet" href="../statics/css//style.css">
</head>
<body>


<div class="container-fluid" id="test">
    <!--发布人信息-->
    <div class="cont1">
        <div class="publisher_msg">
            <span>发布人信息</span>
            <div class="publi_shou" id="publi_btn"></div>
        </div>
        <div class="publi_cont" id="publi_msg">
            <ul>
                <li>
                    <div class="publi_name">我是<span>*</span></div>
                    <div class="publi_choose publi_sf">
                        <label class="publi_inp_act" v-for="item in preoviderList">
                            {{item.title}}
                            <input v-model="houseSource.providerType" :value="item.value" :checked="false"
                                   class="publi_rad" name="kk" type="radio">
                        </label>
                    </div>
                </li>
                <li>
                    <div class="publi_name">称呼<span>*</span></div>
                    <div class="publi_choose">
                        <input v-model="houseSource.name" type="text" placeholder="先生/小姐">
                    </div>
                </li>
                <li>
                    <div class="publi_name">电话 <span>*</span></div>
                    <div class="publi_choose">
                        <input v-model="houseSource.phone" type="text" placeholder="输入联系电话">
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--区域信息 -->
    <div class="cont1">
        <div class="publisher_msg">
            <span>区域信息 <span>(信息将会保密)</span></span>
            <div class="publi_shou" id="qy_btn"></div>
        </div>
        <div class="publi_cont" id="qy_msg">
            <ul>
                <li>
                    <div class="publi_name">所在区域</div>
                    <div class="publi_choose">
                        <div class="weui_cells weui_cells_form qy_addre">
                            <div class="weui_cell">
                                <div class="weui_cell_bd weui_cell_primary">
                                    <input class="weui_input" type="text" value="" id='ssx' placeholder="省市县"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <textarea v-model="houseSource.ads" class="qy_detail" placeholder="输入详细地理地址"></textarea>
                </li>
            </ul>
        </div>
    </div>
    <!--房源信息-->
    <div class="cont1">
        <div class="publisher_msg">
            <span>房源信息</span>
            <div class="publi_shou" id="fy_btn"></div>
        </div>
        <div class="publi_cont" id="fy_msg">
            <ul>
                <li>
                    <div class="publi_name">面积</div>
                    <div class="publi_choose">
                        <input v-model="houseSource.square" type="text" placeholder="输入面积">
                        平方米
                    </div>
                </li>
                <li>
                    <div class="publi_name">类型</div>
                    <div class="publi_choose">
                        <div class="weui_cells weui_cells_form qy_addre">
                            <div class="weui_cell">
                                <div class="weui_cell_bd weui_cell_primary">
                                    <input class="weui_input" type="text" value="" id='type' placeholder="选择类型"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="publi_name">户型</div>
                    <div class="publi_choose">
                        <div class="weui_cells weui_cells_form qy_addre">
                            <div class="weui_cell">
                                <div class="weui_cell_bd weui_cell_primary">
                                    <input class="weui_input" type="text" value="" id='hx' placeholder="选择户型"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="publi_name">楼层</div>
                    <div class="publi_choose">
                        <input v-model="houseSource.floor" type="text" placeholder="如：第9层共22层">
                    </div>
                </li>
                <li>
                    <div class="publi_name">电梯</div>
                    <div class="publi_choose">
                        <div class="weui_cells weui_cells_form qy_addre">
                            <div class="weui_cell">
                                <div class="weui_cell_bd weui_cell_primary">
                                    <input class="weui_input" type="text" value="" id='dt' placeholder="是否有电梯"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="publi_name">租金</div>
                    <div class="publi_choose">
                        <input v-model="houseSource.price" type="text" placeholder="输入租金">
                        元/月
                    </div>
                </li>
                <li>
                    <div class="publi_name">支付方式</div>
                    <div class="publi_choose">
                        <div class="weui_cells weui_cells_form qy_addre">
                            <div class="weui_cell">
                                <div class="weui_cell_bd weui_cell_primary">
                                    <input class="weui_input" type="text" value="" id='zffs' placeholder="选择支付方式"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--配套设施-->
    <div class="cont1">
        <div class="publisher_msg">
            <span>配套设施</span>
            <div class="publi_shou" id="ptss_btn"></div>
        </div>
        <div class="pt_faci" id="ptss_msg">
            <ul>
                <li v-for="item in  list" @click="item.select=!item.select">
                    <div :class="'pt_icon '+(item.select?item.style2:item.style1) "></div>
                    <p v-text="item.name"></p>
                </li>
            </ul>
        </div>
    </div>
    <!--房源标签-->
    <div class="cont1">
        <div class="publisher_msg">
            <span>房源标签</span>
            <div class="publi_shou" id="fybq_btn"></div>
        </div>
        <div id="fybq_msg">
            <div class="publi_choose fybq_more" id="addbiaoqian">
                <label v-for="item in labelList">
                    <input class="publi_rad" name="kk" value="item.title" v-model="item.chebox" :value="false"
                           type="checkbox">{{item.title}}
                </label>
            </div>
            <div class="fybq_add">
                <span>添加标签</span>
                <input v-model="addbq" type="text" placeholder="限4个字">
                <button style=" width: 50px; float: right;background-color:#00AEAE" @click="addb">添加</button>
            </div>
        </div>

    </div>
    <!--上传图片-->
    <div class="cont1">
        <div class="publisher_msg">
            <span>上传图片 <span>(最多可上传9张图片)</span></span>
            <div class="publi_shou" id="upload_btn"></div>
        </div>
        <div class="upload_cont" id="upload_msg">
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <div class="weui_uploader">
                        <div class="weui_uploader_bd">
                            <!-- <ul class="weui_uploader_files" id='img2x'>
                                 <li v-for="item in imgList">
                                      <img :src="item.url" alt="">
                                 </li>
                             </ul>-->
                            <div id="pictureFrame" style="display: inline-flex;flex-wrap: wrap;" type="file">
                                <div v-for="item in imgList" style="margin-bottom:10px;border: 1px solid #D9D9D9;margin-right: 10px;">
                                    <img style="border: none; width: 80px;height: 80px;"
                                         :src="item.url"/>
                                </div>
                                <!-- <div class=""
                                      style="float:left;margin-right:9px; margin-bottom:9px; width:77px; height:77px;border:1px solid #D9D9D9;margin-top:10px;"

                                     <img :src="item.url" style="width:100%;heigth:100%;">
                                 </div>-->
                                <div class="weui_uploader_input_wrp" @click="wxImgUpload();">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

<!--房源描述-->
<div class="cont1">
    <div class="publisher_msg">
        <span>房源描述 </span>
        <div class="publi_shou" id="fyms_btn"></div>
    </div>
    <div class="fyms_txt" id="fyms_msg">
        <textarea v-model="houseSource.describeInfo" placeholder="请输入描述内容..."></textarea>
    </div>
</div>
<!--提交按钮-->
<div class="the_submit">
    <button @click="conmit">提交</button>
</div>
</div>
</div>
<script src='http://res.wx.qq.com/open/js/jweixin-1.2.0.js'></script>
<script src="../statics/js/bootstrap.js"></script>
<script src="../statics/js/jquery-1.11.3.min.js"></script>
<script src="../statics/js/zepto.min.js"></script>
<script src="../statics/js/example.js"></script>
<script src="../statics/js/picker.js"></script>
<script src="../statics/js/lrz.min.js"></script>
<script src="../statics/js/house.js"></script>
<script type="text/javascript">
    // 图片接口
    // 拍照、本地选图
    var images = {
        localId: [],
        serverId: []
    };

    // 拍照或者选择照片
    function take_a_photo() {
        wx.chooseImage({
            count: 1, // 默认9，这里每次只处理一张照片
            sizeType: ['original', 'compressed'],   // 可以指定是原图还是压缩图，默认二者都有
            sourceType: ['album', 'camera'],        // 可以指定来源是相册还是相机，默认二者都有
            success: function (res) {
                images.localId = res.localIds;      // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                var i = 0, length = images.localId.length;
                function upload() {
                    wx.uploadImage({
                        localId: images.localId[i],
                        success: function (res) {
                            i++;
                            alert('已上传：' + i + '/' + length);
                            images.serverId.push(res.serverId);
                            // res.serverId 就是 media_id，根据它去微信服务器读取图片数据：
                            var indata = {"media_id": res.serverId};
                            $.post("/weixin/getPhoto.json", indata, function (data) {
                                if (data.rs == 'f') {
                                    alert("系统错误");
                                } else {
                                    alert(data.body);   // 返回 图片在我们自己的服务器的url
                                }
                            }, 'json');

                            if (i < length) {
                                upload();
                            }
                        },
                        fail: function (res) {
                            alert(JSON.stringify(res));
                        }
                    });
                }

                upload();
            }
        });
    }

    // ios
    $(function () {
        var $iosActionsheet = $('#iosActionsheet');
        var $iosMask = $('#iosMask');

        function hideActionSheet() {
            $iosActionsheet.removeClass('weui-actionsheet_toggle');
            $iosMask.fadeOut(200);
        }

        $iosMask.on('click', hideActionSheet);
        $('#iosActionsheetCancel').on('click', hideActionSheet);
        $("#uploadMasterMap").on("click", function () {
            // $iosActionsheet.addClass('weui-actionsheet_toggle');
            // $iosMask.fadeIn(200);
            // wx.chooseImage({
            //     count: 1, //张数， 默认9
            //     sizeType: ['compressed'], //建议压缩图
            //     sourceType: ['album', 'camera'], // 来源是相册、相机
            //     success: function (res) {
            //         console.log(res);
            //         //var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
            //         $('.driver-card img').prop('src',res.localIds[0]);
            //         uploadPhoto.uploadToWeixinServer(res.localIds[0],'car')
            //     }
            // });
        });
    });

    // android
    $(function () {
        var $androidActionSheet = $('#androidActionsheet');
        var $androidMask = $androidActionSheet.find('.weui-mask');

        $("#showAndroidActionSheet").on('click', function () {
            $androidActionSheet.fadeIn(200);
            $androidMask.on('click', function () {
                $androidActionSheet.fadeOut(200);
            });
        });
    });

</script>
</body>
</html>